<div class="container">
  <div class="text-center m-5 border-bottom border-dark">
    <h2 class="text-center">Search結果</h2>
    <div class="row">
      <div class="col-6">
        <%= form_with url: events_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.submit 'Search', :name => nil %>
        <% end %>
      </div>
      <div class="col-6 text-right mb-1"><%= link_to '+', "/events/new", class: "btn border-dark rounded-circle" %></div>
    </div>
  </div>

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-3 shadow mb-2">
        <%= link_to event_path(event.id) do %>
          <%= attachment_image_tag event, :image, :fill, 150, 120, class: "ml-1 mt-4" %>
        <% end %>
        <p><%= attachment_image_tag event.user, :profile_image, :fill, 70, 70, fallback: "human.png", class: "rounded-circle p-2 mt-2" %>　<strong><%= event.user.name %></strong></p>
        <p><strong><%= event.name %></strong></p>
        <p><strong><%= event.created_at %></strong></p>
        <p>
          <%= link_to "#{event.event_comments.count} コメント", event_path(event.id) %>
          <%= link_to "★#{event.favorites.count}", event_path(event.id) %>
        </p>
      </div>
    <% end %>
  </div>
</div>