<!DOCTYPE html>
<html>
  <head>
    <title>Eventier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devise-width, initial-scale-1, maximum-scale-1">

  </head>

  <body>
    <header class="shadow sticky-top bg-white">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag('logo.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "Event List", events_path, class: 'btn btn-outline-dark' %>
                </li>
                <li>
                  <%= link_to "User List", users_path, class: 'btn btn-outline-dark' %>
                </li>
                <li>
                  <%= link_to "My Page", user_path(current_user.id), class: 'btn btn-outline-dark' %>
                </li>
                <li>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-outline-dark' %>
                </li>
                <li>
                  <%= link_to "Log In", new_user_session_path, class: 'btn btn-outline-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-5">
      <%= yield %>
    </main>
    <footer class="bg-dark text-white fixed-bottom">
      <div class="container">
        <p class="d-flex align-items-center justify-content-center">Copyright © EVENTIER</p>
      </div>
    </footer>
  </body>
<script>

  var map

  function initMap(){
    mapdiv = document.getElementById('map');
    if (mapdiv == null) {
      return;
    }
    _lat = parseFloat(document.getElementById('lat').innerText);
    _lng = parseFloat(document.getElementById('lng').innerText);
    geocoder = new google.maps.Geocoder();

    console.log("lat:" + _lat + " lng:" + _lng);
    map = new google.maps.Map(mapdiv, {
      center: {lat: _lat, lng: _lng},
      zoom: 12,
    });

    console.log("map lat:" + _lat + " lng:" + _lng);
    marker = new google.maps.Marker({
      position: {lat: _lat, lng: _lng},
      map: map
    });
    console.log(" marker lat:" + _lat + " lng:" + _lng);
  }

  var geocoder

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした: ' + status);
      }
    });
  }

$(document).on('turbolinks:load', function() {
  if (typeof(google) == 'undefined' || typeof(google.maps)=='undefined') {
    $.get({
      url: "https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>",
      success: initMap,
      dataType: 'script',
    }
    );
  } else {
    initMap();
  }
}
);
</script>

</html>
