<div class="container">
  <div class="shadow-lg mt-5">
    <div class="row">
      <div class="col-11 d-flex align-items-center justify-content-center my-5 ml-5 border-bottom border-dark">
        <h2>新規登録</h2>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    　<%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="field col-8 offset-4 my-3">
            <%= f.text_field :name, autofocus: true, placeholder: "ニックネーム", :size => "40*30" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-8 offset-4 my-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", :size => "40*30" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-8 offset-4 my-3">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(６文字以上)", :size => "40*30" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-8 offset-4 my-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", :size => "40*30" %>
          </div>
        </div>

        <div class="row">
          <div class="field col-8 offset-5 my-5">
            <%= f.submit "登録", class: "border rounded-pill bg-primary text-white px-5" %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-8 offset-5 mb-5">
        <%= link_to 'ログインはこちら', new_user_session_path %>
      </div>
    </div>
  </div>
